@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

.body {
  padding: 8vw 3vw;
  font-family: 'Yusei Magic', sans-serif;
  justify-content: space-between;
  background-image: url("../public/back.png");
  background-repeat: repeat-y;
  background-size: 100vw;
}

.container {
  min-height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  color: white;
}

.message {
  font-size: 20px;
}

.heading {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.6;
  margin-bottom: 16px;
}

.heading:not(:first-child){
  margin-top: 48px;
}

.profile{
  line-height: 1.7;
}

.about_title{
  font-size: 5vw;
  text-align: center;
  margin: 3vw 0;
}

.about_image{
  width: 50vw;
  padding: 0 10vw;
}

.about{
  display: flex;
}

.about_name{
  width: 30vw;
  margin-right: 10vw;
  font-size: 3vw;
  text-align: center;
  border-bottom: dashed 2px #6594e0;
}

.about_honbun{
  padding-top: 2vw;
  font-size: 2vw;
  text-align: center;
  padding-right: 10vw;
  line-height: 4vw;
}