.body {
  padding: 100px 0 0 0;
  font-family: 'bananaslip plus';
}

.top{
  display: flex;
  justify-content: space-between
}

.name{
  font-size: 100px;
}



.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: white;
}

.message {
  font-size: 20px;
}

.heading {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.6;
  margin-bottom: 16px;
}

.heasing:not(:first-child){
  margin-top: 48px;
}

.profile{
  line-height: 1.7;
}

.workItem{
  display: flex;
  flex-wrap: wrap;
}