.container {
  width: 772px;
  height: 100px;
  background-color: rgba(73, 50, 32, 0.8);
  color: aliceblue;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 16px;
  z-index: 10;
}

.siteName {
  font-size: 20px;
  font-weight: bold;
  margin-right: 32px;
}

.nav {
  display: flex;
  align-items: center;
}

.navItem {
  margin-right: 20px;
  font-weight: bold;
}

.social {
  margin-left: auto
}
