@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

.container {
  font-family: 'Yusei Magic', sans-serif;
  width: 94%;
  height: 4vw;
  color: #333333;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 3vw;
  padding: 4vw 3vw;
  z-index: 10;
}

.siteName {
  font-size: 2vw;
  font-weight: bold;
  margin-right: 32px;
}

.nav {
  display: flex;
  align-items: center;
}

.navItem {
  font-size: 2vw;
  margin-right: 20px;
  font-weight: bold;
}

.social {
  width: 5vw;
  height: 5vw;
}
